---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>

  <body
    class="bg-white text-gray-900 dark:bg-gray-950 dark:text-white transition-colors"
  >
    <Header />

    <main>
      <slot />
    </main>

    <!-- Footer opcional -->
    <!-- <footer class="text-center py-6 text-sm text-gray-500 dark:text-gray-400">
      © {new Date().getFullYear()} Astro Project — All rights reserved
    </footer> -->
  </body>
</html>
